/** Materio Template base classes **/
/** https://github.com/themeselection/materio-vuetify-vuejs-admin-template-free **/

@use "@/styles/desktop/configured-variables/template" as variables;
@use "./misc";
@use "@/styles/desktop/template/base/mixins";

%default-layout-vertical-nav-scrolled-sticky-elevated-nav {
    background-color: rgb(var(--v-theme-surface));
}

%default-layout-vertical-nav-floating-navbar-and-sticky-elevated-navbar-scrolled {
    @include mixins.elevation(variables.$vertical-nav-navbar-elevation);

    // If navbar is contained => Squeeze navbar content on scroll
    @if variables.$layout-vertical-nav-navbar-is-contained {
        padding-inline: 1.2rem;
    }
}

%default-layout-vertical-nav-floating-navbar-overlay {
    &::after {
        display: none;
    }
}
